html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 75px;
  margin-bottom: 60px;
  background-color: #dddddd;
}

footer {
  padding-top: 10px;
}

.main {

}

.messages {
  margin-top: 10px;
}

.username {
  height: 50px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(157, 157, 157);
  font-size: smaller;
}

.container {
  width: auto;
  padding: 0 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.list-group {
  text-align: left;
}

.panel {
  text-align: left;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.centered {
  text-align: center;
}

.avatar {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.item-picture {
  width: 50px;
  height: auto;
}

.item-picture-large {
  width: 120px;
  height: auto;
}


/* Override some Bootstrap.css stuff */
.btn {
  white-space: normal;
}

.alert {
  width:30%;
}

.input-group .form-control {
  margin-top: 3px;
  margin-bottom: 3px;
}

.google-signin {
  width: 145px;
  height: auto;
}

.popover-title {
  text-align: center;
}

.italic {
  font-style: italic;
}

.nav>li>a {
  padding-left: 10px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
}
