<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet">
    <title>
      The Catalog App
    </title>
  </head>
  <body>
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav navbar-nav pull-left">
            <a class="navbar-brand" href="/">The Catalog App</a>
          </div>
          <ul class="nav navbar-nav pull-right" style="margin-top: 5px;">
          {% if login_session['username'] %}
            <li class="username">{{login_session['username']}}</li>
            <li>
              <a id="avatar" href="#" data-toggle="popover" data-title="Hello, {{login_session['username']}}!">
                <svg class="avatar">
                    <defs>
                      <clipPath id="circleClip">
                        <circle cx="15" cy="15" r="15"/>
                      </clipPath>
                    </defs>
                    <image xlink:href="{{login_session['picture']}}" x="0" y="0"
                     height="30" width="30" clip-path="url(#circleClip)"/>
                </svg>
              </a>
              <div id="popover_content" style="display: none">
                <div class="row center-block text-center">
                  <img style="width: 98px; height: 98px; padding:5px;" src="{{login_session['picture']}}" />
                  <a href="{{url_for('logout')}}" name="logout" class="btn btn-primary">Sign Out</a>
                </div>
              </div>
            </li>
          {% else %} <!--Anonymous -->
            <li class="username">Anonymous</li>
            <li>
              <a id="avatar" href="#" data-toggle="popover" data-title="Hello, Anonymous!">
                <svg class="avatar">
                    <defs>
                      <clipPath id="circleClip">
                        <circle cx="15" cy="15" r="15"/>
                      </clipPath>
                    </defs>
                    <image xlink:href="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" x="0" y="0"
                     height="30" width="30" clip-path="url(#circleClip)"/>
                </svg>
              </a>
              <div id="popover_content" style="display: none">
                <div class="row center-block text-center">
                  <img style="width: 98px; height: 98px; padding:5px;" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                  <a href="{{url_for('login')}}" name="login">
                    <img src="{{url_for('static', filename='img/btn_google_signin_dark_normal_web.png')}}"
                     alt="Sign In" class="google-signin"/>
                  </a>
                </div>
              </div>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <script>
      $(function() {
        //configure popover upon clicking the avatar, displaying sign-in/out
        $('#avatar').popover({
          placement: 'bottom',
          html: true,
          content: function() {
            return $('#popover_content').html();
          }
        });
      });
    </script>

    <div class="container-fluid">
      <div class="main">
      {% block main %}
        Sup, girl.
      {% endblock %}
      </div>
      <div class="messages center-block text-center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info center-block text-center" style="width:30%;">{{ message }}</li>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <footer>
      <div class="container-fluid center-block text-center">
      {% block footer %}
        <p class="text-muted pull-right" style="padding-top: 20px;"><small>&copy; 2015 - Dave Voutila</small></p>
      {% endblock %}
      </div>
    </footer>
  </body>
</html>
