<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet">
    <title>
      The Catalog App
    </title>
  </head>
  <body>
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Item Catalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% if login_session['username'] %}
            <li>
              <a href="{{url_for('gdisconnect')}}">
                <img src="{{login_session['picture']}}" width="50px" height="50px" alt="Logout"></img>
              </a>
            </li>
          {% else %}
            <li><a href="{{url_for('showLogin')}}">Login</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="main">
      {% block main %}
        Sup, girl.
      {% endblock %}
      </div>
      <div class="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <footer>
      <div class="container-fluid">
      {% block footer %}
        <p class="text-muted">&copy; 2015 - Dave Voutila</p>
      {% endblock %}
      </div>
    </footer>
  </body>
</html>
