<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet">
    <title>
      The Catalog App
    </title>
  </head>
  <body>
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">The Catalog App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="float:right;">
          {% if login_session['username'] %}
            <a href="{{url_for('gdisconnect')}}">
              <svg class="avatar">
                  <defs>
                    <clipPath id="circleClip">
                      <circle cx="25" cy="25" r="25"/>
                    </clipPath>
                  </defs>
                  <image xlink:href="{{login_session['picture']}}" x="0" y="0"
                   height="50" width="50" clip-path="url(#circleClip)"/>
              </svg>
            </a>
          {% else %}
            <a href="{{url_for('show_login')}}">Login</a>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="main">
      {% block main %}
        Sup, girl.
      {% endblock %}
      </div>
      <div class="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">{{ message }}</li>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <footer>
      <div class="container-fluid">
      {% block footer %}
        <p class="text-muted">&copy; 2015 - Dave Voutila</p>
      {% endblock %}
      </div>
    </footer>
  </body>
</html>
