{% extends "base.j2" %}
{% block main %}
  <div class="row">
    <div class="col-md-5">
      <h3>Categories</h3>
      <div class="list-group">
      {% for category in categories %}
        <a class="list-group-item" href="{{url_for('showCategory', category_id=category.id)}}">
          {{category.name}}
        </a>
      {% endfor %}
      </div>
    </div>
    <div class="col-md-5">
      <h3>Your Recent Items</h3>
      <div class="list-group">
      {% for item in items %}
        <a class="list-group-item" href="{{url_for('viewItem', item_id=item.id)}}">
          {{item.name}}
        </a>
      {% endfor %}
      </div
    </div>
  </div>
{% endblock %}
