{% extends "base.j2" %}
{% block main %}
  <div class="row">
    <div class="col-md-5">
      <h3>Categories</h3>
      <div class="list-group">
      {% if not categories %}
        You have no categories! Why not <a href="{{url_for('new_category')}}">create</a> one?
      {% else %}
        {% for category in categories %}
        <a class="list-group-item" href="{{url_for('show_category', category_id=category.category_id)}}">
          {{category.name}} ({{counts[category.category_id]}})
        </a>
        {% endfor %}
        <div class="row" style="padding-top: 5px;">
          <div class="col-md-4"></div>
          <a class="col-md-4 btn btn-default center-block" href="{{url_for('new_category')}}">New Category</a>
          <div class="col-md-4"></div>
        </div>
      {% endif %}
      </div>
    </div>
    <div class="col-md-5">
      <h3>Your Recent Items</h3>
      <div class="list-group">
      {% if not items %}
        You have no recent items! Maybe trying viewing some?
      {% else %}
        {% for item in items %}
        <a class="list-group-item"
         href="{{url_for('view_item', item_id=item.item_id, category_id=item.category_id)}}">
          {{item.name}} - <small>{{item.category_id}}</small>
        </a>
        {% endfor %}
      {% endif %}
      </div
    </div>
  </div>
{% endblock %}
