{% extends "base.j2" %}
{% block main %}
  <div class="row">
    <div class="col-md-5">
      <h3>Categories</h3>
      <div class="list-group">
      {% if not categories %}
        You have no categories! Why not <a href="{{url_for('newCategory')}}">create</a> one?
      {% else %}
        {% for category in categories %}
        <a class="list-group-item" href="{{url_for('showCategory', category_id=category.id)}}">
          {{category.name}}
        </a>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <div class="col-md-5">
      <h3>Your Recent Items</h3>
      <div class="list-group">
      {% if not items %}
        You have no recent items! Maybe trying viewing some?
      {% else %}
        {% for item in items %}
        <a class="list-group-item" href="{{url_for('viewItem', item_id=item.id, catalog_id=item.catalog_id)}}">
          {{item.name}}
        </a>
        {% endfor %}
      {% endif %}
      </div
    </div>
  </div>
{% endblock %}
