{% extends "base.j2" %}
{% block main %}
  <div class="category">
    {{category.name}}
  </div>
  <div class="itemsList">
    {% if items %}
      {% for item in items %}
        <div class="item">
          <span class="itemName">{{item.name}}</span>
          <div class="itemDescription">
            {{ item.description }}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="item">
        <span class="info">Empty!</span>
      </div>
    {% endif %}
  <div>
{% endblock %}
