{% extends "base.j2" %}
{% block main %}
<form id="createCategory" method="POST" action="{{url_for('new_category')}}">
  <div class="row center-block text-center">
    <h3>New Category</h3>
  </div>
  <div class="row center-block text-center">
    <fieldset>
      <div class="form-group">
        <div class="input-group center-block" style="width: 45%">
          <input name="name" type="text" class="form-control"
            placeholder="Name" aria-describedby="Category Name">
          <input name="description" type="text" class="form-control"
            placeholder="Description" aria-describedby="Description">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="row center-block text-center" style="padding-top: 10px;">
    <a class="btn btn-default" href="{{url_for('home')}}">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary">
      Create
    </button>
  </div>
</form>
{% endblock %}
