{% extends "base.j2" %}
{% block main %}
<div class="row center-block text-center">
  <h1>
    <div>{{category.name}}</div>
    <div><small>{{category.description}}</small></div>
  </h1>
{% if items %}
  {% for item in items %}
  <div class="panel panel-default center-block" style="width:80%">
    <div class="panel-heading clearfix">
      {% if item.picture %}
        <img class="pull-left" style="padding-right:5px; padding-top: 7.5px; height: 30px;"
         src="{{url_for('static', filename=item.picture)}}" alt="{{item.name}}"></img>
      {% else %}
        <img class="pull-left" style="padding-right:5px; padding-top: 7.5px;"
         src="http://placehold.it/30x30" alt="{{item.name}}"></img>
      {% endif %}
      <h3 class="panel-title pull-left" style="padding-top: 7.5px;">{{item.name}}</h3>
      <div class="btn-group pull-right">
        <form name="deleteItem" method="POST"
         action="{{url_for('delete_item', category_id=item.category_id, item_id=item.item_id)}}">
          <a href="{{url_for('update_item', item_id=item.item_id, category_id=item.category_id)}}"
           class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </a>
          <button type="submit" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            </button>
        </form>
      </div>
    </div>
    <div class="panel-body">
      {{ item.description }}
    </div>
  </div>
  {% endfor %}
{% else %}
<div class="alert alert-warning center-block text-center">
  <strong>This category has no items!</strong>
</div>
{% endif %}
  <div class="row center-block">
    <a href="{{url_for('delete_category', category_id=category.category_id)}}"
     class="btn btn-default">
     <span class="glyphicon glyphicon-trash"></span>
     Delete Category
   </a>
    <a href="{{url_for('new_item', category_id=category.category_id)}}"
     class="btn btn-primary">
     <span class="glyphicon glyphicon-plus"></span>
     Add New Item
   </a>
  </div>
</div>
{% endblock %}
