{% extends "base.j2" %}
{% block main %}
<form id="deleteCategory" method="POST"
 action="{{url_for('delete_category', category_id=category.category_id)}}">
  <div class="row center-block text-center">
    <h3>Delete {{category.name}}?</h3>
    <div class="alert alert-warning center-block text-center" style="width:50%">
      <strong>
        This category has {{items|length}} item(s).
      </strong>
    </div>
    <strong>Are you sure you want to delete?</strong>
    <div class="row center-block text-center" style="padding-top: 10px;">
      <a class="btn btn-default" href="{{url_for('home')}}">
        Cancel
      </a>
      <button type="submit" class="btn btn-primary">Delete</button>
    </div>
  </div>
</form>
{% endblock %}
