{% extends "base.j2" %}
{% block main %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form name="updateItem" method="POST" action="{{url_for('updateItem', item_id=item.id, category_id=item.category_id)}}">
        <fieldset>
          <div class="form-group">
            <div class="input-group">
              <h3><input type="text" name="name" class="form-control" placeholder="{{item.name}}" aria-describedby="Item Name"></h3>
            </div>
            <div class="input-group">
              <input type="text" name="description" class="form-control" placeholder="{{item.description}}" aria-describedby="Item Description">
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-expanded="true">
                Category
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="category dropdown">
                {% for category in categories %}
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">{{category.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </fieldset>
        <div class="row">
          <a href="{{url_for('viewItem', item_id=item.id, category_id=item.category_id)}}">
            <button type="button" class="btn btn-default">Cancel</button>
          </a>
          <a href="#">
            <button type="submit" class="btn btn-default">Save</button>
          </a>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}
