{% extends "base.j2" %}
{% block main %}
<form name="updateItem" method="POST" enctype="multipart/form-data"
 action="{{url_for('update_item', item_id=item.item_id, category_id=item.category_id)}}">
  <div class="panel panel-default row center-block text-center" style="width:60%;">
    <div class="panel-heading">
      <h3 class="panel-title">Update {{ item.name }}</h3>
    </div>
    <div class="panel-body">
      <fieldset>
        <div class="row center-block text-center" style="padding-left: 10px; padding-top: 10px;">
        {% if item.picture %}
          <img id="picture" class="item-picture-large" src="{{url_for('static', filename=item.picture)}}" alt="{{item.name}}"></img>
        {% else %}
          <img id="picture" class="item-picture-large" src="http://placehold.it/120x120" alt="Click to add an image!"></img>
        {% endif %}
          <input id="file" name="file" type="file" class="form-control hidden" size="2" accept="image/*"/>
        </div>
        <div class="row center-block text-center">
          <div class="form-group">
            <div class="input-group center-block" style="width: 50%">
              <input type="text" name="name" class="form-control"
                   placeholder="{{item.name}}" aria-describedby="Item Name"/>
            </div>
            <div class="input-group center-block" style="width: 50%">
              <input type="text" name="description" class="form-control"
               placeholder="{{item.description}}" aria-describedby="Item Description"/>
            </div>
            <input id="category_id" type="hidden" name="category_id"
             value="{{item_category.category_id}}"/>
            <input name="state" type="hidden" value="{{state}}"/>
          </div>
          <!-- Dropdown thingy -->
          <div class="dropdown row center-block text-center">
            <button class="btn btn-default dropdown-toggle" type="button"
             id="categoryMenu" data-toggle="dropdown" aria-expanded="true"
             style="width: 45%; margin-top: 10px;">
               <span class="glyphicon glyphicon-folder-open pull-left" aria-hidden="true"></span>
               {{ item_category.name }}
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="category dropdown"
             style="transform: translate(-50%, 0); text-align: center; left: 50%; width: 45%;">
              {% for category in categories %}
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-category-id="{{category.category_id}}">
                  {{category.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End Dropdown thingy -->
        </div>

      </fieldset>
      <div class="row center-block text-center" style="padding-top: 10px;">
        <a class="btn btn-default" href="{{url_for('view_item', item_id=item.item_id, category_id=item.category_id)}}">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          Cancel
        </a>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          Save
        </button>
      </div>
    </div>
  </div>
</form>
<script>
  $(function() {
    //adopted via http://stackoverflow.com/questions/13437446/how-to-display-selected-item-in-bootstrap-button-dropdown-title
    $('.dropdown-menu li a').click(function(){
      var html = '<span class="glyphicon glyphicon-folder-open pull-left" aria-hidden="true"></span>'
      html = html + $(this).text()
      $('.dropdown-toggle').html(html);

      $('#category_id').val($(this).data('category-id'));
    });

    //via http://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
    function readPreviewImage(input) {
      if(input) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#picture').attr('src', e.target.result);
        }
        reader.readAsDataURL(input);
      }
    }
    //adopted via http://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously
    $('#picture').attr('style', 'cursor:pointer;').click(function(event) {
      $('#file').click();
    });

    $('#file').change(function(){
      var file = this.files[0];
      var name = file.name;
      var size = file.size;
      var type = file.type;
      console.log('Staged file "' + name + '"');
      readPreviewImage(file);
      //Your validation
    });
  });
</script>
{% endblock %}
