{% extends "base.j2" %}
{% block main %}
<form name="deleteItem" method="POST"
 action="{{url_for('delete_item', item_id=item.item_id, category_id=item.category_id)}}">
  <div class="row center-block text-center">
    <h3>{{ item.name }}</h3>
    <p>{{ item.description }}</p>
    <div class="row center-block text-center">
      <button type="submit" class="btn btn-default">Delete</button>
      <a class="btn btn-primary"
       href="{{url_for('update_item', item_id=item.item_id, category_id=item.category_id)}}">
        Edit
      </a>
    </form>
    </div>
  </div>
</form>
{% endblock %}
