{% extends "base.j2" %}
{% block main %}
<div class="row center-block text-center">
  <img style="width: 98px; height: 98px; padding:5px;" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  <a href="{{url_for('login')}}" name="login">
    <img src="{{url_for('static', filename='img/btn_google_signin_dark_normal_web.png')}}"
     alt="Sign In" class="google-signin"/>
  </a>
<div>
{% endblock %}
