{% extends "base.j2" %}
{% block main %}
  <script src="https://apis.google.com/js/client:platform.js?onload=start"
    async defer></script>
  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="{{client_id}}"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>

  <script>
    function signInCallback(authResult) {
      if(authResult['code']) {
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{state}}',
          processData: false,
          contentType: 'application/octet-stream; charset=utf-8',
          data: authResult['code'],
          success: function(result) {
            if(result) {
              $('#result').html('Login Successful!</br>' + result +
                '</br>Redirecting...');
              setTimeout(function() {
                  window.location.href = '/catalog';
                }, 4000);
            }else if(authResult['error']){
              console.log('There was an error: ' + authResult['error']);
            }
          }
        }); //.ajax
      }else {
        $('#result').html('Failed to make server-side call.');
      }
    }
  </script>
{% endblock %}
