{% extends "base.j2" %}
{% block main %}
  <div class="list-group">
  {% for category in categories %}
    <a class="list-group-item" href="{{url_for('showCategory', category_id=category.id)}}">
      {{category.name}}
    </a>
  {% endfor %}
  </div>
{% endblock %}
